In [1]:
import pandas as pd

In [2]:
perfumes = pd.read_csv('perfumes.csv')

In [3]:
perfumes.tail()

,name,price,brand,category,top_notes,middle_notes,base_notes,reviews,url
494,AURA,"3,500/=",LATTAFA,FRAGRANCE,Not Available,Not Available,Not Available,No Reviews Available,https://middleeasternscents.co.ke/product/aura/
495,OUD WONDER EDP,"1,900/=",FRAGRANCE WORLD,FRAGRANCE,Not Available,Not Available,Not Available,No Reviews Available,https://middleeasternscents.co.ke/product/oud-...
496,ROYAL SAPPHIRE EDP,"4,500/=",LATTAFA PRIDE,FRAGRANCE,Not Available,Not Available,Not Available,No Reviews Available,https://middleeasternscents.co.ke/product/roya...
497,ROUAT AL MUSK EDP,"2,100/=",LATTAFA,FRAGRANCE,Not Available,Not Available,Not Available,No Reviews Available,https://middleeasternscents.co.ke/product/roua...
498,OUDAIN EDP,"2,000/=",LATTAFA,FRAGRANCE,Not Available,Not Available,Not Available,No Reviews Available,https://middleeasternscents.co.ke/product/ouid...

## Check for the composition of the data

In [4]:
perfumes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          499 non-null    object
 1   price         488 non-null    object
 2   brand         499 non-null    object
 3   category      499 non-null    object
 4   top_notes     498 non-null    object
 5   middle_notes  498 non-null    object
 6   base_notes    498 non-null    object
 7   reviews       499 non-null    object
 8   url           499 non-null    object
dtypes: object(9)
memory usage: 35.2+ KB

## Check for null and duplicate values

In [5]:
perfumes.describe()

,name,price,brand,category,top_notes,middle_notes,base_notes,reviews,url
count,499,488,499,499,498,498,498,499,499
unique,493,87,30,7,187,84,90,9,499
top,AMBER OUD TOBACCO EDITION,500/=,LATTAFA,FRAGRANCE,Not Available,Not Available,Not Available,No Reviews Available,https://middleeasternscents.co.ke/product/ouid...
freq,2,28,146,430,306,413,407,491,1

In [7]:
perfumes.isna().sum()

name             0
price           11
brand            0
category         0
top_notes        1
middle_notes     1
base_notes       1
reviews          0
url              0
dtype: int64

### Conclusions
- Brand  has the most null values