In [3]:
import pandas as pd

In [4]:
perfumes = pd.read_csv('perfumes.csv')

In [7]:
perfumes.tail()

,name,price,brand,top_notes,middle_notes,base_notes,reviews,url
492,AURA,"3,500/=",NaN,Not Available,Not Available,Not Available,No Reviews Available,https://middleeasternscents.co.ke/product/aura/
493,OUD WONDER EDP,"1,900/=",NaN,Not Available,Not Available,Not Available,No Reviews Available,https://middleeasternscents.co.ke/product/oud-...
494,ROYAL SAPPHIRE EDP,"4,500/=",NaN,Royal Sapphire&nbsp;by&nbsp;Lattafa Perfumes i...,Not Available,Not Available,No Reviews Available,https://middleeasternscents.co.ke/product/roya...
495,ROUAT AL MUSK EDP,"2,100/=",NaN,Not Available,Not Available,Not Available,No Reviews Available,https://middleeasternscents.co.ke/product/roua...
496,OUDAIN EDP,"2,000/=",NaN,Not Available,Not Available,Not Available,No Reviews Available,https://middleeasternscents.co.ke/product/ouid...

## Check for the composition of the data

In [11]:
perfumes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          497 non-null    object
 1   price         496 non-null    object
 2   brand         87 non-null     object
 3   top_notes     497 non-null    object
 4   middle_notes  496 non-null    object
 5   base_notes    496 non-null    object
 6   reviews       497 non-null    object
 7   url           497 non-null    object
dtypes: object(8)
memory usage: 31.2+ KB

## Check for null and duplicate values

In [9]:
perfumes.describe()

,name,price,brand,top_notes,middle_notes,base_notes,reviews,url
count,497,496,87,497,496,496,497,497
unique,491,87,12,206,90,98,9,497
top,AMBER OUD TOBACCO EDITION,500/=,Unknown,Not Available,Not Available,Not Available,No Reviews Available,https://middleeasternscents.co.ke/product/ouid...
freq,2,28,36,282,404,397,489,1

In [10]:
perfumes.isna().sum()

name              0
price             1
brand           410
top_notes         0
middle_notes      1
base_notes        1
reviews           0
url               0
dtype: int64

### Conclusions
- Brand  has the most null values